---
---


@import "reset.scss";
@import "syntax.scss";

$main-bg-color: #fafafa;
$sidebar-bg-color: #666;
$sidebar-color: #fff;
$sidebar-width: 270px;

html {
	font: 14px "微软雅黑",Helvetica, Arial, sans-serif;
	background-color: $main-bg-color;
	height: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 270px;
    grid-template-rows: 150px auto 150px;
		min-height: 100%;
}

.site-header {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	.site-name {
		margin: 24px 0 10px;
		font-size: 24px;
	}
	.slogen {
		font-size: 18px;
	}
}

.side {
	color: $sidebar-color;
	background-color: $sidebar-bg-color;
	a {
		color: #fff;
	}
}

.site-main {
	padding: 40px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
}

.site-main article,
.post {
	max-width: 800px;
	ul li {
		list-style-type: disc;
		list-style-position: inside;
	}
	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

.item-sign {
	content: "";
	display:inline-block;
	width: 10px;
	height: 10px;
	background-color: $sidebar-color;
	vertical-align: 1px;
	margin-right: 5px;
	border-radius: 2px;
}

.tag-item {
	padding: 0 2px;
	transition: all .5s;
	border-radius: 4px;
	&:hover {
		background-color: $sidebar-color;
		color: $sidebar-bg-color;
	}
}

.site-sidebar {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	@extend .side;
	a {
		@extend .tag-item;
	}
	nav {
		margin: 0 30px;
		h1 {
			font-size: 16px;
			margin-bottom: 10px;
			&:before {
				@extend .item-sign;
			}
		}
		&>ul>li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&>ul>li>ul {
			line-height: 20px;
		}
		&>ul>li>ul>li {
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.site-header,
.site-footer {
	@extend .side;
	z-index: 1;
	text-align: center;
}

.site-footer {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;	
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}


.site-footer {
	line-height: 20px;
	bottom: 10px;
}

.category-list {
	padding: 40px 0 40px 40px;
	max-width: 700px;
	a {
		color: #333;
		&:hover {
			text-shadow: 1px 0px 2px rgba(46, 49, 47, 0.39);
		}
	}
	h1 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	ul>li>ul>li {
		display: inline-block;
		margin-right: 10px;
		font-size: 18px;
	}

	ul>li {
		margin-bottom: 25px;
	}
}

.common-article {
	$article-block-spacing: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
	overflow-x: hidden;
	.highlighter-rouge {
		margin-bottom: $article-block-spacing;
	}
	.highlight {
		padding: 10px;
		border-radius: 5px;
		background: #272822;
		overflow: auto;
	}
	blockquote {
		border-left: 4px solid gray;
		padding-left: 10px;
		margin-top: $article-block-spacing;
	}
	a {
		color: #333;	
		transition: .5s;
		&:hover {
			text-shadow: 1px 0px 2px rgba(46, 49, 47, 0.39);
		}
	}
	ul {
		margin-bottom: $article-block-spacing;
		padding-left: 20px;
	}
	ul li {
		list-style-type: disc;
		margin-bottom: 5px;
	}
	p {
		text-align: left;
		line-height: 20px;
		margin-bottom: 10px;
	}
	
	header {
		a:after {
			background: none;
		}
		h1 {
			font-size: 24px;
			color: darken(#333,20%);
			font-weight: bold;
		}
		margin-bottom: 30px;
	}
	h1,h2,h3,h4,h5,h6 {
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 19px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 17px;
	}
	h6 {
		font-size: 16px;
	}
	time {
		display: block;
		margin-top: 10px;
		color: lighten(#333,20%);
	}
	margin-bottom: 40px;
}

.recent-article {
	overflow: hidden;
	article {
		@extend .common-article;
		time {
			display: block;
			margin: 10px 0 20px;
		}
		margin-bottom: 80px;
	}
	.pagging {
		position: fixed;
		bottom: 20px;
		right: 280px;
		a {
			font-size: 0;
			display: inline-block;
			width: 32px;
			height: 32px;
			background: url("../img/arrow.png") no-repeat 0 0;
			background-size: cover;
		}
		.pre {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.next {
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
	}
}



.article-detail {
	overflow: hidden;
	font-size: 14px;
	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.content {
		word-spacing: 2px;
		letter-spacing: 0.1em;

		@for $i from 1 through 7 {
			h#{$i} {
				font-size: 1em * (1 + (7 - $i) / 10);
				margin: 20px 0 10px;
			}
		}

		p {
			margin: 10px 0;
		}

		img {
			max-width: 100%;
		}

		ul {
			margin: 10px 0;
			padding: 0 4px;
			list-style-type: circle;
			list-style-position: inside;
		}

		li {
			white-space: pre-wrap;
			word-break: break-all;
			line-height: 1.2;
			margin: 6px 0;
		}

	}


	.comments {
		margin-top: 50px;
	}
	article {
		@extend .common-article;
	}

	.relate-info {
		margin-top: 10px;
		color: #999;
		&>ul>li {
			padding-left: 5em;
			position: relative;
			margin-bottom: 10px;
		}

		ul>li>ul>li {
			display: inline-block;
			margin-right: 1em;
			color: #999;
		}
		a {
			color: #999;
			padding: 0 2px;
			transition: all .5s;
			border-radius: 4px;
			&:hover {
				color: $sidebar-color;
				background-color: $sidebar-bg-color;
			}
		}
		h1 {
			position: absolute;
			left: 0;
			&:before {
				@extend .item-sign;
				margin-right: 10px;
				background-color: #999;
				vertical-align: 0px;
			}
		}
	}
}

.timeline {
	&>ul>li {
		padding-left: 140px;
		position: relative;
		min-height: 100px;
		margin-bottom: 40px;
	}
	&>ul>li>ul>li {
		font-size: 24px;
		margin-bottom: 10px;
		a {
			color: #333;
			&:hover {
				text-shadow: 1px 0px 2px rgba(46, 49, 47, 0.39);
			}
		}
	}
	time {
		display: block;
		position: absolute;
		box-sizing: border-box;
		width: 60px;
		height: 60px;
		padding: 10px 0;
		background-color: #8f8f8f;
		border-radius: 5px;
		font-size: 19px;
		line-height: 19px;
		font-weight: bold;
		text-align: center;
		left: 0;
		a {
			color: #fff;
		}
		span {
			text-align: center;
			display: block;
		}
		span:first-child {
			margin-bottom: 5px;
		}
	}

}

@media (max-width:800px) {
	html {
		font-size: 16px;
	}
	.wrapper {
			display: block;
	}
	.content {
		font-size: 15px;
	}
	.recent-article .pagging {
		position: static;
		text-align: center;
	}
	.site-header {
		position: static;
		width: auto;
		padding: 10px 5px;
		margin-bottom: 20px;
		.site-name {
			margin: 0;
			text-align: left;
		}
		.slogen {
			text-align: right;
		}
	}
	.site-main {
		max-width: none;
		width: auto;
		padding: 10px;
	}
	.site-footer {
		position: static;
		max-width: none;
		width: auto;
		padding: 15px 15px 5px 15px;
	}
	article img {
		width: 100%;
	}
	.wrapper {
		padding: 0;
		min-width: 0;
	}
	.site-sidebar {
		position: static;
		width: auto;
		padding: 20px 0;
	}
}
