---
---

@import 'normalize';
@import 'syntax.scss';

html {
	font: 14px sans-serif;
}

.post-content {
	font-size: 14px;
	word-spacing: 1px;
	letter-spacing: 2px;
	p {
		margin-top: 1em;
		line-height: 1.6;
		&:first-child {
			margin-top: 0;
		}
	}
	@for $i from 1 through 7 {
		h#{$i} {
			font-size: calc(1em * (1 + (7 - $i) / 10));
		}
	}
}

div.highlight {
	overflow: scroll;
}
