---
layout: default
---

<h2 class="post-title"><span class="title-content">{{ page.title }}</span></h2>
<p class="meta post-date">{{ page.date | date: "%Y-%m-%d" }}</p>
<div class="post">
{{ content }}
</div>
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
	var duoshuoQuery = {short_name:"salfishark"};
	(function() {
	 var ds = document.createElement('script');
	 ds.type = 'text/javascript';ds.async = true;
	 ds.src = 'http://static.duoshuo.com/embed.js';
	 ds.charset = 'UTF-8';
	 (document.getElementsByTagName('head')[0] 
	  || document.getElementsByTagName('body')[0]).appendChild(ds);
	 })();
</script>
<!-- Duoshuo Comment END -->
